{% if request.page_type == 'collection' %}<script class="json-config-infinite" type="application/json" id="magepow_config_scroll_laravel_app">{"enabled": 0,"itemLoad": ".grid-item","delay": "1000","container": ".grid-uniform","pagination": ".pagination-custom","nextPagination": ".next","loadingText": "Loading","doneText": "You've reached the end of the item.","image": "{{ "62f1e20b6fdd1_4b_1.gif" | asset_url }}","loadMoreButtonText": "Load More ...111"}</script><script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js" type="text/javascript" class="magepow_infinite_scroll_jquery_cdn"></script>
<script type="text/javascript" src="{{ 'infinite-scroll.js' | asset_url }}" defer="defer"></script>
<script type="text/javascript" defer="defer">
    $(document).ready(function(){
        if(window.jQuery) jQuery('.magepow_infinite_scroll_jquery_cdn').remove();
        var infiniteScrollFunction = (function fn (){
            var infiniteConfigText = JSON.parse($('#magepow_config_scroll_laravel_app').text());
            if(infiniteConfigText['enabled']){
                var options = {
                    container 	: infiniteConfigText["container"],
                    item      	: infiniteConfigText["itemLoad"],
                    pagination  : infiniteConfigText["pagination"],
                    next   		: infiniteConfigText["nextPagination"],
                    delay  		: infiniteConfigText["delay"],
                    src 		: infiniteConfigText["image"] ? infiniteConfigText["image"] : "",
                    htmlLoading : "<div class=\"iass-spinner\" style=\" margin-bottom: -150px; padding: 150px;\"><img src=\"{src}\"/><span><em>Loading - please wait...</em></span></div>",
                    htmlLoadMore: "<div class=\"ias-trigger ias-trigger-next\"><button class=\"load-more\">Load more items</button></div>",
                    htmlLoadEnd : "<div class=\"ias-noneleft\" style=\" margin-bottom: -150px; padding: 150px;\">{text}</div>",
                    textLoadEnd : infiniteConfigText["doneText"],
                    textLoadMore: infiniteConfigText["loadMoreButtonText"],
                    textPrev 	: "Load more items",
                    htmlPrev 	: "<div class=\"ias-trigger ias-trigger-prev\"><button class=\"load-more\">Load more items</button></div>",
                    offset 		: 3
                };
                $('body').addClass('infinitescroll-pro');
                if(!jQuery().ias){
                    console.warn('Plugin "jQuery.ias" does not exist!');
                    return;
                }
                jQuery.ias('destroy');
                window.ias = jQuery.ias({
                    container : options.container,
                    item 	  : options.item,
                    pagination: options.pagination,
                    next 	  : options.next,
                    delay     : options.delay
                });
                window.ias.extension(new IASSpinnerExtension({
                    src : options.src,
                    html: options.htmlLoading
                }));
                window.ias.extension(new IASNoneLeftExtension({
                    text: options.textLoadEnd,
                    html: options.htmlLoadEnd,
                }));
                window.ias.extension(new IASTriggerExtension({
                    text    : options.textLoadMore,
                    html    : options.htmlLoadMore,
                    textPrev: options.textPrev,
                    htmlPrev: options.htmlPrev,
                    offset  : options.offset,
                }));
            }
            return fn;
        })();
        window.fetch = new Proxy(window.fetch, {
            apply(fetch, that, args) {
                const result = fetch.apply(that, args);
                result.then((response) => {
                    setTimeout(function(){
                        infiniteScrollFunction();
                    }, 100);

                });
                return result;
            }
        });
    });
</script>
{% endif %}